
{{>admin-header}}
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="" placeholder="Example input">
  </div>

</form>

{{>admin-footer}}


