*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

button:active {
  border: none;
}

ol {
  padding-inline: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  behavior: scroll;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: white;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* button */
.btn-container {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.btn-container.disabled {
  opacity: 0.6;
}

.btn-container__btn {
  min-width: 139px;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  border: 1px solid #F0E161;
  font-size: 1.4rem;
  font-weight: 750;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.6s cubic-bezier(0.19, 0.135, 0.15, 0.86);
}

.btn-container__btn:focus {
  outline: none;
}

.btn-container:not(:hover) {
  left: 0;
}

.btn-container:hover .btn-container__background {
  width: 0;
  right: 0;
}

.btn-container:hover .btn-container__btn {
  color: black;
}

.btn-container__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 43px;
  background-color: #F0E161;
  z-index: -1;
  transition: all 0.45s cubic-bezier(0.19, 0.135, 0.15, 0.86);
}

.border-bottom {
  border-bottom: 1px dotted #dfe0e1;
}

.text-orange {
  color: #f57224;
}

.text-green {
  color: #01904a;
}

.text-gray {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.bg-orange {
  background-color: #f57224;
  border-color: #f57224;
  box-shadow: 1px 2px 5px #f57224;
  color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

.pageTitle__center {
  padding-bottom: 20px;
  position: relative;
}
.pageTitle__center::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  width: 10%;
  height: 5px;
  background-color: #2196F3;
  border-radius: 5px;
}

/* CSS */
.button-87 {
  margin: 5px;
  padding: 8px 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.3rem;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

.iconImg {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon-small {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 3px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

.container {
  max-width: 1400px;
}

/* header  */
.header {
  padding: 25px 0 50px;
}

/* header-top */
.header__top {
  padding: 10px 0;
  font-size: 1.4rem;
}

.header__top-systemStore {
  text-align: right;
}

.hotline__link,
.systemStore__link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.hotline__link:hover,
.systemStore__link:hover {
  text-decoration: none;
  color: #F0E161;
}

/* header-main */
/* logo */
.header__main {
  margin-block: 25px;
}

.header__logo-img {
  width: 120px;
}

/* navigation */
.header__navigation {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__navigation-item:hover .header__navigation-link {
  text-decoration: none;
  color: #F0E161;
}

.header__navigation-link {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 15px;
  transition: color 0.2s linear;
}

/* icon */
.header__icon {
  display: flex;
  justify-content: center;
  height: 100%;
}

.header__icon-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header__icon-item {
  --width--height-size: 3.5rem;
  margin: 0 10px;
  width: var(--width--height-size);
  height: var(--width--height-size);
  border-radius: 50%;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon__link {
  line-height: var(--width--height-size);
  display: inline-block;
  cursor: pointer;
  flex: 1;
}

.cart-icon,
.search-icon {
  color: white;
  font-size: 1.4rem;
  position: relative;
}

.form__search {
  position: absolute;
  display: none;
  top: calc(100% + 5px);
  right: -150%;
  padding: 4px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.form__search.active {
  display: flex;
}

.form__search.form__search--inSearchPage {
  position: relative;
  right: unset;
  display: flex;
  justify-content: center;
  box-shadow: unset;
  z-index: 0;
}
.form__search.form__search--inSearchPage #search__input {
  width: 400px;
  height: 60px;
  font-size: 1.8rem;
}
.form__search.form__search--inSearchPage #search__submit {
  padding: 18px;
}
.form__search.form__search--inSearchPage #search__submit .search__submit__icon {
  font-size: 2rem;
}

#search__input {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  padding-left: 10px;
  font-size: 1.3rem;
}

#search__submit, #searchOrder__submit {
  background-color: black;
  padding: 0 15px;
  cursor: pointer;
}

.search__submit__icon {
  color: white;
  font-size: 1.4rem;
}

/* brand nav level 2  */
.nav--level2__brand {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  width: 70vw;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.nav--level2__brand {
  padding: 15px;
  display: none;
}

.brand-menu__list {
  list-style: none;
}

.brand-menu__item {
  margin-bottom: 6px;
}

.brand-menu__link {
  color: #000;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.2s linear;
}

.brand-menu__link:hover {
  color: #F0E161;
  text-decoration: none;
}

.brand__imglink .row {
  justify-content: space-evenly;
}

.brand-img {
  width: 100%;
}

.nav--level1__brand {
  position: relative;
}

.nav--level1__brand::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 164px;
  height: 50px;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.nav--level1__brand:hover .nav--level2__brand {
  display: flex !important;
  z-index: 2;
}

.icon_search {
  position: relative;
}

/* slider__control */
.slick-dots {
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 50%;
  cursor: pointer;
}

.slick-dots li {
  --width--height-size: 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  font-size: 0;
  width: --width--height-size;
  height: --width--height-size;
}

.slick-dots .slick-active button {
  background-color: black;
}

.slick-arrow {
  padding-inline: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-arrow span {
  font-size: 25px;
  cursor: pointer;
}

.menuCloseBtn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .form_newsletter input {
    width: 200px;
  }

  .title_newsletter {
    display: none;
  }

  .header__navigation-item {
    padding: 0 5px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 991px) {
  .header__navigation-item {
    padding: 0 4px;
  }
}
@media screen and (max-width: 1200px) {
  .form_newsletter input {
    width: 200px;
  }
}
@media screen and (max-width: 982px) and (min-width: 768px) {
  .footer_main-item {
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
  .hiddenonMobile {
    display: none;
  }

  .nav--level1__brand::before {
    display: none;
  }

  .hotline__link,
.systemStore__link {
    font-size: 1.3rem;
  }

  .header {
    padding: 10px 0 20px;
  }

  .header__main {
    margin-block: 15px;
  }

  .header__icon {
    justify-content: flex-end;
  }

  .area_newsletter {
    justify-content: center;
  }

  .area_phone_contact {
    justify-content: center;
  }

  .footer_main-item {
    text-align: center;
  }

  .main__newArrival {
    margin-top: 300px;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 0 30px;
  justify-content: center;
  flex: 1;
}
.header-login {
  font-weight: 500;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .hiddenOnPc {
    display: none;
  }
}
@media screen and (max-width: 1023.98px) {
  .header-auth {
    display: none;
  }
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.menu-link {
  text-decoration: none;
  color: #000;
}
.menu--wraper {
  position: relative;
}
.menu--overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.391);
  z-index: 9;
  display: none;
}

@media screen and (max-width: 1280px) {
  .menu {
    gap: 0;
  }
}
@media screen and (max-width: 1023.98px) {
  .menu--wrapper.isShow .menu {
    right: 0;
  }
  .menu--wrapper.isShow .menu--overlay {
    display: block;
    animation: linear 1s;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 300px;
    z-index: 10;
    background-color: white;
    flex-direction: column;
    padding-top: 50px;
    border-left: 1px solid #00000033;
    gap: 10px 0;
    align-items: stretch;
    transition: all 0.2s linear;
  }
  .menu .menuCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    padding-bottom: 30px;
    color: black;
    cursor: pointer;
    display: block;
  }
  .menu-link {
    display: block;
    padding: 20px;
  }
  .menu-toggle {
    width: 40px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px 0;
  }
  .menu-toggle span {
    border: 2px solid black;
  }
  .menu-item--auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
  }

  .header-right {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .nav--level1__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slick-arrow span {
    font-size: 1.2rem !important;
  }
  .slick-arrow .slick-dots li {
    --width--height-size: 5px!important;
  }
}
/* .footer */
.footer {
  margin-top: 20px;
}

.footer_top {
  width: 100%;
  padding: 15px 0;
}

.area_newsletter {
  display: flex;
  justify-content: space-between;
}

.title_newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_newsletter i {
  font-size: 2rem;
}

.title_newsletter h4 {
  margin: 0;
  padding: 10px 20px;
}

.form_newsletter {
  display: flex;
}

.form_newsletter input {
  flex: 1;
  height: 43px;
  padding-left: 10px;
  font-size: 1.4rem;
  border: 1px solid #00000033;
  outline: none;
}

.area_phone_contact {
  height: 44px;
  display: flex;
  align-items: center;
}

.number_phone {
  margin: 0;
  display: flex;
  align-items: center;
}

.number_phone i {
  font-size: 2rem;
}

.number_phone span {
  font-size: 1.6rem;
  margin: 0 10px;
}

.number_phone a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #CE7777;
}

.footer_support {
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 1px solid #00000033;
}

.footer_support-item {
  padding: 55px 25px;
  cursor: pointer;
}
.footer_support-item a {
  display: inline-block;
  width: 100%;
}

.support-item_icon {
  text-align: center;
}

.support-item_icon i {
  font-size: 4rem;
  color: #000000;
}

.footer_support-item h3 {
  font-size: 1.8rem;
  margin: 20px 0 4px;
  text-align: center;
  text-transform: uppercase;
}

.footer_support-item p {
  font-size: 1.5rem;
  text-align: center;
  color: #636363;
}

.footer_main {
  padding: 50px 10px 10px;
  width: 100%;
}

.support-item_header h3 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  margin-top: 30px;
}

.support-item_content-list {
  list-style: none;
  margin-top: 10px;
}

.support-item_content {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

.support-item_content-item {
  margin: 5px 0;
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  transition: color 0.2s linear;
}

.support-item_content-item:hover {
  color: #F0E161;
  cursor: pointer;
}

.support-item_content-item:hover a {
  color: #F0E161;
  cursor: pointer;
}

.support-item_content-item i {
  margin-right: 10px;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .area_newsletter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .title_newsletter {
    justify-content: flex-start;
  }

  .footer_support-item {
    padding: 13px 15px;
    cursor: pointer;
  }

  .support-item_icon i {
    font-size: 2.5rem;
  }

  .footer_support-item h3 {
    font-size: 1.5rem;
  }

  .footer_support-item p {
    font-size: 1.3rem;
  }
}
/* Main */
/* main__slider */
.main__slider {
  padding: 30px 0;
  position: relative;
}

.slider__Img {
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.216);
}

.slider__Img-list {
  display: flex;
  list-style: none;
}

.slider__Img-item {
  display: none;
  transition: opacity 0.4s linear;
}

.slider__Img-item.active {
  display: block;
  animation: opacity 0.4s linear;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* slider__control */
.slick-dots {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  cursor: pointer;
}

.slick-dots li {
  --width--height-size: 10px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  font-size: 0;
  width: var(--width--height-size);
  height: var(--width--height-size);
}

.slick-dots .slick-active button {
  background-color: black;
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-arrow span {
  font-size: 25px;
  cursor: pointer;
}

/* product__are */
.product__item {
  width: 100%;
  margin-top: 0px;
  transition: all 0.3s linear;
  box-shadow: 0 0.5px 2px #00000033;
}

.product__item:hover {
  box-shadow: 0 5px 50px #00000033;
  margin-top: 6px;
  background-color: white;
}

.product__are {
  padding-top: 40px;
}

.collection__header {
  margin: 50px 0 20px 0;
  text-align: center;
}

.collection__header-link {
  color: #000;
  font-size: 2.8rem;
  font-weight: 600;
  transition: color 0.2s linear;
  font-family: "Playfair Display", sans-serif;
}

.collection__header-link:hover {
  color: #F0E161;
  text-decoration: none;
}

.product__IMG {
  position: relative;
}

.product__sale {
  position: absolute;
  bottom: 100%;
  padding: 2px 10px;
  background-color: #d40000;
}

.product__sale::after {
  --width--height-size: 5px;
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 5px);
  width: var(--width--height-size);
  height: var(--width--height-size);
  background-color: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.product__sale::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 14px;
  border-color: transparent transparent transparent #d40000;
}

.product__sale span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

.product__IMG img {
  width: 100%;
}

.product__detail {
  padding: 0px 0 20px;
}

.product__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.2s linear;
  min-height: 42px;
}

.product__name:hover {
  color: #F0E161;
  text-decoration: none;
}

.product__price {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
}

.product__newPrice {
  color: #CE7777;
}

.product__oldPrice {
  text-decoration: line-through;
  font-size: 1.5rem;
}

.product__originPrice {
  color: #000;
}

.product__detail--footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.product__rating--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 3px;
}
.product__rating--icon {
  font-size: 1.2rem;
  color: #F0E161;
}

.product__sold p {
  font-weight: 500;
  font-size: 1.3rem;
}

/* collection__btn-seemore */
.collection__btns {
  padding: 30px 0;
}

/* collection__featured */
.main__featured {
  padding: 40px 0 0 0;
  min-height: 560px;
}

/* featured_img */
.featured__img {
  position: relative;
}

.featured__img h2 {
  font-size: 12rem;
  font-weight: 900;
  color: #F0E161;
  text-align: center;
}

.featured__img img {
  width: 100%;
  position: absolute;
  transition: top 0.5s linear 0s;
  top: 100%;
}

.featured__img.active img {
  top: -30px;
}

/* featured__detail */
.featured__detail h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
  transition: color 0.2s linear;
  cursor: pointer;
}

.featured__detail h3:hover {
  color: #F0E161;
}

.detail__nav-list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #00000033;
}

.detail__nav-item {
  margin: 0 20px;
}

.detail__nav-item a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  opacity: 0.5;
}

.detail__nav-item a:hover {
  text-decoration: none;
}

/* .nav__product-size {
      font-weight: 800;
      color: var($text-color);
      opacity:0.5;
  } */
.detail__nav-item.active a {
  opacity: 1;
}

/* detail__content */
.detail__content {
  padding: 10px;
  margin-top: 10px;
}

.detail__content-list {
  list-style: none;
}

.detail__content-item {
  /* visibility: hidden; */
  text-align: justify;
  display: none;
  font-size: 1.4rem;
  font-weight: 450;
  max-height: 350px;
  overflow: scroll;
}

.detail__content-item span {
  font-weight: 600;
}

.detail__content-item.active {
  /* visibility: visible; */
  display: block;
  animation: fade-in 0.5s linear;
}

.main__partner {
  margin: 15px 0;
}
.main__partner-list {
  display: flex;
}
.main__partner-item {
  padding: 10px;
}
.main__partner-link {
  display: inline-block;
  width: 100%;
}
.main__partner-link img {
  width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* collection__header */
.main__newArrival {
  margin-top: 170px;
}

@media screen and (max-width: 576px) {
  .product__price {
    display: block;
  }

  .product__detail--footer {
    margin-top: 10px;
    gap: 10px;
  }

  .product__rating--icon {
    font-size: 1rem;
  }

  .product__item {
    min-height: 266px !important;
  }
}
.collections__type {
  margin: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Playfair Display", sans-serif;
  font-size: 4rem;
}

.sortByBtnList {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .sort__title {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .sortByBtnList {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sortByBtn {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .sortByBtnList--contaiter {
    display: flex;
    justify-content: space-between;
  }

  .collections__type {
    font-size: 3rem;
  }
}
.detailProduct__img {
  display: flex;
}
.detailProduct__img--list {
  width: 10%;
}
.detailProduct__img--item {
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
}
.detailProduct__img--item.active {
  border: 0.2px solid rgba(0, 0, 0, 0.447);
}
.detailProduct__img--item img {
  width: 100%;
  object-fit: cover;
}
.detailProduct__img--main {
  width: 90%;
  padding-right: 15px;
}
.detailProduct__img--main img {
  width: 100%;
}
.detailProduct__content--title {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 15px 0;
  text-transform: uppercase;
  width: 40%;
}
.detailProduct__content--name {
  padding: 10px 0;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.detailProduct__content--price {
  padding: 10px 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0 15px;
  font-weight: bold;
}
.detailProduct .product__oldPrice {
  font-size: 1.4rem;
}

.promotion {
  display: flex;
}
.promotion__title {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.promotion__title img {
  width: 40px;
  height: 40px;
}
.promotion__btn {
  font-size: 1.5rem;
  margin: 15px 0;
}

.selectSize {
  display: flex;
  align-items: center;
}
.selectSize__btn--list {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.selectSize__btn--item {
  padding: 6px 10px;
  border: 1px solid #00000033;
  cursor: pointer;
}
.selectSize__btn--item.active {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.productColor__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productColor__text {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #00000033;
}

.productDetail__sale--percent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productDetail__sale--percent span {
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
}

.selector-actions {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.quantity-area {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.quantity-area input.qty-btn {
  float: left;
  background: #f5f5f5;
  border: solid 1px #f5f5f5;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 0;
}

.quantity-area input#quantity,
.quantity-area input.quantityCart {
  background: #fff;
  font-weight: 600;
  height: 32px;
  padding: 0;
  text-align: center;
  width: 70px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  border-radius: 1px;
  float: left;
  -webkit-appearance: none;
}

.product__desc--tabs .nav-pills .nav-link.active {
  background-color: #f57224;
}

.description-productdetail {
  margin-top: 20px;
}

.description-productdetail p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.addToCart-btn {
  margin-top: 20px;
  background-color: #F0E161;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 50px 15px 50px;
}

.modal-title {
  font-size: 1.8rem;
  text-transform: capitalize;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: 0px;
  transition: right 3s linear;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  padding-top: 40px;
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}

.btn-demo {
  padding: 10px 15px;
  border-radius: 0;
  font-size: 16px;
}

.btn-demo:focus {
  outline: 0;
}

#cartModal {
  background-color: rgba(0, 0, 0, 0.5);
}

.cartBtn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartBtn__container > span, .cartBtn__container a {
  text-align: end;
}

#cartModal .modal-content {
  padding-inline: 30px;
  scrollbar-width: none;
}

.close-cartModal-btn i {
  font-size: 3rem;
}

.cart__list {
  border-bottom: 4px solid #F0E161;
  margin-bottom: 20px;
}

.cart__item {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 0 20px;
  position: relative;
  margin-bottom: 10px;
}
.cart__item--img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__item--img img {
  width: 123px;
  height: 123px;
  object-fit: contain;
}
.cart__item--content {
  padding: 15px 15px 15px 0;
}
.cart__item--deleteItem {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -7px;
  right: -13px;
  cursor: pointer;
}
.cart__item--desc {
  margin: 10px 0;
}
.cart__item--amount {
  background-color: rgba(204, 204, 204, 0.49);
  padding: 3px 15px;
}
.cart__item--bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart__body--note #note {
  width: 100%;
}
.cart__body .cart__total--money {
  margin-left: 20px;
  font-size: 3rem;
  font-weight: bold;
}
.cart__body #note {
  border-radius: 0;
  -webkit-appearance: none;
  resize: none;
  border: 1px dashed #00000033;
  color: #000000;
  font-size: 15px;
  padding: 20px;
  outline: none;
  width: 100%;
  font-weight: 500;
  transition: all 150ms linear;
}
.cart__body .cart__item--bottom {
  justify-content: space-between;
}
.cart__body .cart__item {
  display: flex;
  gap: 10px;
}
.cart__body .cart__item--content {
  flex: 1;
}

.cart__quality {
  font-size: 1.7rem;
}
.cart__quality--number {
  font-weight: bold;
}

.detailProduct__zoomIn--Btn {
  display: flex;
  justify-content: center;
}
.detailProduct__zoomIn--Btn button {
  margin-top: -50px;
}
.detailProduct__zoomIn--Btn button:hover img {
  transform: scale(1.1);
}
.detailProduct__zoomIn--Btn img {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.ProductImgZoomModal {
  padding: 0 !important;
}
.ProductImgZoomModal .modal-body {
  overflow: hidden;
  background-color: #000000;
}
.ProductImgZoomModal .modal-content {
  height: 100%;
}
.ProductImgZoomModal .modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
}
.ProductImgZoomModal #ProductImgZoom {
  height: 100%;
}
.ProductImgZoomModal .carousel-inner {
  height: 100%;
}
.ProductImgZoomModal .carousel-item {
  height: 100%;
  transition: all 0.1s linear;
}
.ProductImgZoomModal .carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProductImgZoomModal .carousel-item img {
  height: 100%;
  object-fit: contain;
}
.ProductImgZoomModal .carousel-control-next, .ProductImgZoomModal .carousel-control-prev {
  height: 100px;
  top: 50%;
}
.ProductImgZoomModal .carousel-control-prev-icon {
  background-image: url("/img/Icons/turn.png");
}
.ProductImgZoomModal .carousel-control-next-icon {
  background-image: url("/img/Icons/right-arrow.png");
}
.ProductImgZoomModal .carousel-control-next-icon, .ProductImgZoomModal .carousel-control-prev-icon {
  width: 100px;
  height: 50px;
  background-size: contain;
}
.ProductImgZoomModal .closeBtn {
  z-index: 10000;
  position: relative;
  padding: 30px;
}
.ProductImgZoomModal .closeBtn__icon {
  font-size: 3rem;
  color: white;
}

#ProductImgZoom {
  position: relative;
}
#ProductImgZoom .closeBtn {
  position: absolute;
  right: 0;
}
#ProductImgZoom .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a3a3a3;
  cursor: pointer;
  margin: 0 10px;
}
#ProductImgZoom .carousel-indicators .active {
  background-color: #F0E161;
}

@media screen and (max-width: 767.98px) {
  #ProductImgZoom .closeBtn {
    padding: 15px;
  }

  .cartBtn__container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #cartModal .modal-content {
    padding-inline: 10px;
  }

  .promotion__title img {
    width: 20px;
    height: 20px;
  }

  #ProductImgZoom .carousel-indicators li {
    margin-inline: 3px;
  }
}
@media screen and (max-width: 767.98px) {
  .detailProduct__img {
    display: block;
  }

  .detailProduct__img--main {
    width: 100%;
    padding: 0;
  }

  .detailProduct__img--list {
    width: 100%;
  }
  .detailProduct__img--list button {
    margin-top: 10px;
    display: flex;
    overflow: scroll;
  }

  .detailProduct__img--item {
    width: 55px;
    height: 55px;
    object-fit: contain;
    padding: 5px;
  }
}
#modalUserInfor .nameAndPhoneInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#modalUserInfor .addressInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
#modalUserInfor .addressInput input {
  margin-bottom: 0;
}
#modalUserInfor .addressInput .address__list {
  display: none;
}
#modalUserInfor .modal-content {
  width: unset;
}
#modalUserInfor .modal-dialog-centered {
  justify-content: center;
  align-items: baseline;
}
#modalUserInfor .district__item.active, #modalUserInfor .provinces__item.active, #modalUserInfor .ward__item.active {
  background-color: black;
  color: white;
}
#modalUserInfor .close {
  font-size: 2.6rem;
}
#modalUserInfor button {
  font-size: 2rem;
}
#modalUserInfor .modal-footer button {
  font-size: 1.6rem;
}
#modalUserInfor .modal-footer #saveUserInforBtn {
  background-color: #f57224;
  border-color: #f57224;
}

form#modalUserInforForm .form__group {
  margin-bottom: 20px;
}
form#modalUserInforForm .form__group .error {
  border-color: red;
}
form#modalUserInforForm .form__group p {
  color: red;
}
form#modalUserInforForm label {
  position: relative;
  display: block;
}
form#modalUserInforForm label input {
  font: 15px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: 1px solid #00000033;
  padding: 10px;
  width: 100%;
  min-width: 200px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
form#modalUserInforForm label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 15px Helvetica, Arial, sans-serif;
}
form#modalUserInforForm label input:focus, form#modalUserInforForm label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
form#modalUserInforForm label input:focus::placeholder, form#modalUserInforForm label input.populated::placeholder {
  color: transparent;
}
form#modalUserInforForm label input:focus + span, form#modalUserInforForm label input.populated + span {
  opacity: 1;
  top: 10px;
}
form#modalUserInforForm label span {
  color: #1aaf75;
  font-weight: 500;
  font: 15px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
form#modalUserInforForm input[type=submit] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #1aaf75;
  color: #fff;
  padding: 16px 40px;
}
form#modalUserInforForm input[type=submit]:hover {
  background: #109f67;
}
form#modalUserInforForm .address__wrapper {
  position: relative;
}
form#modalUserInforForm .address__list {
  padding: 10px;
  position: absolute;
  border: 1px solid #00000033;
  max-height: 400px;
  overflow: auto;
  background-color: white;
  z-index: 10000;
}
form#modalUserInforForm .address__list .address__item {
  padding: 5px;
  cursor: pointer;
  font-size: 1.4rem;
}
form#modalUserInforForm .address__list .address__item:hover {
  background-color: black;
  color: white;
}
form#modalUserInforForm .address__wrapper input[type=button] {
  background-color: white;
  text-align: start;
}

@media screen and (max-width: 767.98px) {
  #modalUserInfor .nameAndPhoneInput {
    display: block;
  }

  form#modalUserInforForm label input {
    min-width: 300px;
  }

  #modalUserInfor .addressInput {
    display: block;
  }

  form#modalUserInforForm .address__list {
    max-height: 200px;
  }
}
.order .container {
  padding-block: 30px;
  border-radius: 10px;
}
.order__deco {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
}
.order__container {
  padding: 28px 30px 24px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-bottom: 10px;
}
.order__title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #2B3A55;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.order__title--icon {
  margin-right: 10px;
  font-size: 2rem;
}
.order__user {
  display: flex;
  gap: 10px;
}
.order__user--address {
  margin-left: 20px;
}
.order .cart__list {
  border: 1px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.order .modal-header {
  padding: 1rem;
  background-color: #222;
}
.order .modal-header .modal-title, .order .modal-header span {
  color: #fff;
}
.order .modal-header .modal-title span, .order .modal-header span span {
  width: 30px;
}

.cart__header--row {
  padding-bottom: 20px;
}
.cart__header--row div {
  color: #bbb;
}
.cart__body--row {
  padding-bottom: 10px;
}
.cart__body--row div {
  display: flex;
  align-items: center;
}
.cart__item--main {
  display: flex;
  gap: 10px;
  justify-self: flex-start !important;
}
.cart__item--main img {
  min-width: 60px;
  height: 60px;
}
.cart__item--main p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: 500;
}
.cart__row {
  display: grid;
  grid-template-columns: 50% 20% 10% 10% 10%;
  gap: 10px;
}
.cart__row div {
  display: flex;
  justify-content: center;
}
.cart__item--type {
  display: flex;
  flex-direction: column;
  color: #bbb;
}
.cart__item--type div {
  display: flex;
  gap: 10px;
}

.total__ship--fee {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #CE7777;
}

.tabs {
  --choicePayObtion--color:#CE7777;
  display: flex;
  color: var(--choicePayObtion--color);
  position: relative;
}

.tab__item {
  padding: 16px 40px 11px 20px;
  font-size: 1.6rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.2s linear;
  position: relative;
}
.tab__item--checked {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 15px solid var(--choicePayObtion--color);
  border-bottom-color: transparent;
  border-left-color: transparent;
  transition: all 0.1s linear;
}
.tab__item--checked-icon {
  position: absolute;
  bottom: 0%;
  color: white;
}

.tab__item.active {
  color: var(--choicePayObtion--color);
  border: 1px solid var(--choicePayObtion--color);
}
.tab__item.active .tab__item--checked {
  display: block;
}

.tab__item:hover {
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}

.tab-icon {
  margin-right: 10px;
}

.line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  background-color: var(--choicePayObtion--color);
  border-radius: 5px;
  transition: all 0.1s linear;
}

.contents {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.tab__content {
  display: none;
  font-size: 1.8rem;
  color: #333;
}

.tab__content.active {
  display: block;
}

.tab__content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.tab__content p {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.tab__content p:first-child {
  margin-top: 20px;
}

.order__pay--option {
  padding-bottom: 30px;
  border-bottom: 1px dashed #00000033;
}
.order__pay--summary {
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 30px;
}
.order__pay--summary div {
  padding: 10px;
  display: flex;
  align-items: center;
}
.order__pay--bottom {
  padding-block: 20px;
  border-top: 1px dashed #00000033;
  display: flex;
  justify-content: space-between;
}

.total__product--price,
.total__feeShip--price,
.total__order--price {
  text-align: right;
  justify-content: flex-end;
}

.total__order--price {
  font-size: 29px;
  font-weight: bold;
  color: #CE7777;
}

.discount__number {
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.discount__list {
  margin-top: 20px;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #338dbc;
}
.discount__item {
  position: relative;
  border-radius: 3px;
  background: #fff;
  font-weight: 700;
  color: #338dbc;
  border: 1px solid #338dbc;
  overflow: hidden;
  padding: 5px 10px !important;
  font-size: 1.6rem;
}
.discount__item span {
  line-height: 1.5;
  position: relative;
  margin-bottom: 5px;
}
.discount__item::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #338dbc;
  background: #fff;
  z-index: 1;
  left: -7px;
  top: 50%;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}
.discount__item::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #338dbc;
  background: #fff;
  z-index: 1;
  right: -7px;
  top: 50%;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}

.discount__list.row .coupon {
  border: 1px solid #00000033;
  padding: 10px;
}

#discount__input {
  padding: 5px 10px;
}
#discount__submit {
  padding: 5px 10px;
  background-color: #01904a;
  color: white;
  border-radius: 3px;
}

.kiri {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coupon .kanan {
  border-left: 1px dashed #ddd;
  width: 40% !important;
  position: relative;
}

.coupon .kanan .info::after, .coupon .kanan .info::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #dedede;
  border-radius: 100%;
}

.coupon .kanan .info::before {
  top: -10px;
  left: -10px;
}

.coupon .kanan .info::after {
  bottom: -10px;
  left: -10px;
}

.coupon .time {
  font-size: 1.6rem;
}

.discoust--show {
  justify-content: flex-end;
  gap: 5px;
}

.total-weight {
  color: black;
  font-size: 1.3rem;
}

.originalTotalPrice {
  justify-content: flex-end;
  transform: translateY(23px);
}

.order__pay--summary {
  font-size: 1.9rem;
}

@media screen and (max-width: 1279.98px) {
  .cart__row {
    grid-template-columns: 40% 15% 15% 10% 15%;
  }
}
@media screen and (max-width: 767.98px) {
  .order__user {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .order__container {
    padding: 28px 10px 24px;
  }

  .order__pay--summary {
    gap: 0px;
  }

  .cart__body .cart__row {
    grid-template-columns: 1fr;
  }

  .cart__header--row {
    display: none;
  }

  .order__user--address {
    margin-left: 0px;
  }

  .tabs {
    flex-direction: column-reverse;
  }

  .tab__item {
    padding: 10px;
    font-size: 1.4rem;
  }

  .tab__content p {
    font-size: 1.4rem;
  }

  .order__pay--discount {
    padding-block: 0px !important;
  }

  .discount__list.row .coupon {
    margin-bottom: 10px !important;
  }
  .discount__list.row .coupon .tengah {
    padding: 0 !important;
  }
  .discount__list.row .coupon .tengah p {
    font-size: 1.4rem;
  }

  .discount__list.row .coupon {
    padding: 5px;
  }

  .discount__list.row > div {
    padding: 0 5px;
  }

  .order__pay--summary--title {
    justify-content: flex-end;
    font-size: 1.4rem;
  }

  .order__pay--summary div {
    padding: 10px;
  }

  .order__pay--bottom {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .order__pay--bottom p {
    font-size: 1.2rem;
  }
  .order__pay--bottom span {
    display: flex;
    justify-content: flex-end;
  }

  .discoust--show .discount__number {
    font-size: 1rem;
  }

  .discoust--show {
    flex-direction: column;
  }

  .order__pay--whiteSpace {
    padding: 0 !important;
    width: 0px;
  }
}
.group__filter {
  margin-bottom: 20px;
}
.group__filter--title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.group__filter ul {
  margin-left: 20px;
}
.group__filter .form-check {
  display: flex;
  align-items: center;
  gap: 10px;
}
.group__filter .form-check-input {
  position: static;
  margin-top: 0;
}
.group__filter .form-check-label {
  cursor: pointer;
}

.filter__color ul {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 10px;
  gap: 10px;
}
.filter__color label {
  cursor: pointer;
}
.filter__color label {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.filter__color input:checked + label {
  border: 5px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767.98px) {
  .filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .filter__color ul {
    grid-template-columns: 25% 25%;
  }
}
.productName {
  cursor: pointer;
}

.order_detail-heading {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px !important;
  color: gray;
}

.policy {
  line-height: 3rem;
  font-size: 1.6rem;
}
.policy-heading {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.policy-title {
  font-size: 2.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.policy p {
  padding-bottom: 25px;
}
.policy img {
  --width:700px;
  min-width: var(--width);
  max-width: var(--width);
  padding-bottom: 20px;
}
.policy ol.s {
  list-style-type: inherit;
}
.policy.payment img {
  --width:300px;
}

@media screen and (max-width: 767.98px) {
  .policy img {
    --width:100%;
  }
}

/*# sourceMappingURL=app.css.map */
