
<div class="policy orderguide">
    <h2 class='policy-heading'>Hướng dẫn mua hàng</h2>

    <p>Nhằm giúp quý khách dễ dàng, thuận tiện trong quá trình mua hàng Qana cập nhật quy trình mua hàng</p>


    <h5 class="policy-title">
        Bước 1: Truy cập Website , tùy theo sở thích và nhu cầu, lựa chọn sản phẩm cần mua để mua hàng
    </h5>
    <h5 class="policy-title">
        Bước 2: Hãy Click vào sản phẩm muốn mua, để đến trang chi tiết sản phẩm:
    </h5>
    <p>
        <ol class="s">
            <li>
                    Tiến hành lựa chọn size, màu sắc , số lượng.
            </li>

            <li>
                   Nếu bạn tiếp tục muốn mua hàng : Bấm <b>THÊM VÀO GIỎ HÀNG</b> để đưa sản phẩm đã chọn vào giỏ hàng.
            </li>

            <li>
                    Nếu bạn muốn xem giỏ hàng và cập nhật sản phẩm: Bấm vào <b>XEM GIỎ HÀNG</b>
            </li>
            <li>
                    Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm vui lòng Click vào : <b>THANH TOÁN</b>
            </li>
        </ol>
          

           
    </p>
    <h5 class="policy-title">
       Bước 3: Cập nhật thông tin họ tên, số điện thoại kèm theo, email, địa chỉ, điền chú thích và Click vào Xác nhận.
    </h5>
    <p>Trang chi tiết đơn hàng sẽ hiện ra bao gồm:</p>
    <p>
        <ol class="s">
            <li>
                    Thông tin liên hệ của khách hàng mua hàng
            </li>

            <li>
                   Đơn vị vận chuyển, giá vận chuyển và giá bảo hành ( bạn có thể lựa chọn mục này)
            </li>

            <li>
                  Phương thức thanh toán: Các phương thức thanh toán sẽ hiện ra , dễ dàng cho bạn lựa chọn.
            </li>
            <li>
                  Áp dụng giảm giá ( nếu có ).
            </li>
            <li>
                  Kiểm tra tổng chi phí thanh toán nếu đồng ý hãy CLICK vào <b>ĐẶT HÀNG</b>
            </li>
        </ol>
          

           
    </p>
     <h5 class="policy-title">
       Bước 4:Bạn có thể theo dõi đơn hàng ở mục tra cứu , sau khi đặt hàng sẽ có email xác nhận đặt hàng.
    </h5>
     <h5 class="policy-title">
      Bước 5: Sau khi đơn hàng được xác nhận nhân viên CSKH sẽ liên hệ bằng cách gọi trực tiếp hoặc gửi mail để xác nhận lại đơn hàng và địa chỉ của bạn.
    </h5>

     <p style='font-family: "Playfair Display", sans-serif;margin-top:40px;font-size: 21px;'>---CHÚC BẠN HÀI LÒNG VỚI SẢN PHẨM MÌNH ĐÃ CHỌN NHÉ. TRÂN TRỌNG CẢM ƠN---</p>
     

    
</div>


