
<div class="policy payment">
    <h2 class='policy-heading'>Hướng dẫn thanh toán</h2>

    <p>Để thuận tiện chi khách hàng, Qana Sneaker hỗ trợ thanh toán bằng nhiều hình thức khác nhau</p>
    <p>
        Qana luôn mong muốn mang lại cho khách hàng trải nghiệm mua sắm tuyệt vời nhất. Vì vậy Qana sẽ luôn đồng hành cùng bạn từ khi bắt đầu.
    </p>
    <p>
        Các phương thức thanh toán tiện lợi đã được Qana sử dụng để khách hàng có thể dễ dàng hơn trong việc lựa chọn.
    </p>
    

    <h5 class="policy-title">
        Thanh toán khi nhận hàng(COD)
    </h5>
    <p>
            COD có thể là viết tắt của "Cash on Delivery" trong tiếng Anh, có nghĩa là "thanh toán khi nhận hàng". Đây là một phương thức thanh toán mà người mua hàng thanh toán tiền mặt khi nhận được sản phẩm.
    </p>
    <p>
            Quý khách kiểm tra hàng, mang thử sản phẩm thoải mái. Sau đó thanh toán đơn hàng theo giá trị được ghi trên hóa đơn 
    </p>

    {{>payment-bank}}
    {{>payment-momo}}

    <p>
        Thông tin chi tiết, Quý Khách xin vui lòng liên hệ trực tiếp với chúng tôi
    </p>
    <p>
        Thông tin bộ phận CSKH số điện thoại <b><a href="tel:092165084">092165084</a></b>  để được hướng dẫn cụ thể
    </p>
    <p>
        Qana đảm bảo thông tin và <b>giao dịch</b> của khách hàng luôn luôn được <b>bảo mật</b>. Qana sẵn sàng tư vấn và hỗ trợ trong mọi điều kiện có thể, giúp khách hàng vui lòng hơn trong thời gian mua sắm tại cửa hàng.
    </p>
    

    
        
</div>


