
<div class="policy payment">
    <h2 class='policy-heading'>Hướng dẫn thanh toán</h2>

    <p>Để thuận tiện chi khách hàng, Qana Sneaker hỗ trợ thanh toán bằng nhiều hình thức khác nhau</p>

    <h5 class="policy-title">
        Thanh toán khi nhận hàng(COD)
    </h5>
    <p>
            COD có thể là viết tắt của "Cash on Delivery" trong tiếng Anh, có nghĩa là "thanh toán khi nhận hàng". Đây là một phương thức thanh toán mà người mua hàng thanh toán tiền mặt khi nhận được sản phẩm.
    </p>
    <p>
            Quý khách kiểm tra hàng, mang thử sản phẩm thoải mái. Sau đó thanh toán đơn hàng theo giá trị được ghi trên hóa đơn 
    </p>

    <h5 class="policy-title">
        Chuyển khoản ngân hàng
    </h5>
    <p class='font-weight-bold'>
           Thông tin tài khoản

    <ol class='s'>
        <li>Tên ngân hàng: Ngân hàng TMCP Vietcombank (VCB) - Chi nhánh Đức Phổ</li>
        <li>Chủ tài khoản: Trần Minh Nhân</li>
        <li>Số tài khoản: 0271001082592</li>

        <li>Nội dung chuyển khoản: Mã đơn __Tên người mua -- VD: 641941f3b2aeb427c7e819e3__Trần Minh Nhân</li>
            
    </ol>
    <span class='font-weight-bold'>* Lưu ý:</span>
											Sau khi chuyển khoản quý khách chụp hình lại và gửi inbox cho fanpage <a  class='font-weight-bold' href="https://www.facebook.com/profile.php?id=100085568778678">Quana Nolan</a>
    </p>

    <h5 class="policy-title">
        Chuyển khoản momo
    </h5>
    <p class='font-weight-bold'>
           Thông tin tài khoản

    <ol class='s'>
      
        <li>Chủ tài khoản: Trần Minh Nhân</li>
        <li>Số điện thoại: <a href="tel:0962165084">0962165084</a></li>

        <li>Nội dung chuyển khoản: Mã đơn __Tên người mua -- VD: 641941f3b2aeb427c7e819e3__Trần Minh Nhân</li>
            
    </ol>
    <span class='font-weight-bold'>* Lưu ý:</span>
											Sau khi chuyển khoản quý khách chụp hình lại và gửi inbox cho fanpage <a  class='font-weight-bold' href="https://www.facebook.com/profile.php?id=100085568778678">Quana Nolan</a>
    </p>


    <p class='font-weight-bold'>
           Chuyển MoMo bằng mã QR
    </p>
    

    <img src="/img/MomoQr.jpg" alt="">
        
</div>


