
<div class="policy payment">
    <h2 class='policy-heading'>Hướng dẫn thanh toán</h2>

    <p>Để thuận tiện chi khách hàng, Qana Sneaker hỗ trợ thanh toán bằng nhiều hình thức khác nhau</p>

    <h5 class="policy-title">
        Thanh toán khi nhận hàng(COD)
    </h5>
    <p>
            COD có thể là viết tắt của "Cash on Delivery" trong tiếng Anh, có nghĩa là "thanh toán khi nhận hàng". Đây là một phương thức thanh toán mà người mua hàng thanh toán tiền mặt khi nhận được sản phẩm.
    </p>
    <p>
            Quý khách kiểm tra hàng, mang thử sản phẩm thoải mái. Sau đó thanh toán đơn hàng theo giá trị được ghi trên hóa đơn 
    </p>

    {{>payment-bank}}
    {{>payment-momo}}
    

    
        
</div>


