
<div class="policy replacement">
    <h2 class='policy-heading'>Chính sách đổi trả</h2>

    <p>Qana Sneaker đặt chất lượng lên hàng đầu, trước khi chuyển hàng cho khách hàng chúng tôi luôn kiểm ra cực kỳ nghiêm ngặt nhằm đảm bảo sản phẩm chất lượng tốt nhất đến tay khách hàng</p>

    <h5 class="policy-title">
        Điều kiện đổi , trả
    </h5>
    <p>
        <ol class="s">
            <li>
                     Quý khách có thể đổi trả hàng thoải mái trong vòng <span class="font-weight-bold">7 ngày</span> kể từ ngày nhận hàng .
            </li>

            <li>
                   Giữ sản phẩm không bị bẩn , hỏng để thuận tiện hơn trong việc đổi trả. Vui lòng quay clip quá trình kiểm tra hàng
            </li>

            <li>
                Khi đổi sản phẩm , trường hợp không còn size quý khách được đổi một lần duy nhất sang mẫu giày khác không thấp hơn giá trị sản phẩm đã mua
            </li>
        </ol>
          

           
    </p>
     <h5 class="policy-title">
        Chi phí ship hai chiều
    </h5>

    <p>
         Các lý do như , shop gửi sai màu , sai mẫu , sai số lượng, sai kích thước phí ship đổi trả hoàn toàn do shop chi trả.
    </p>

    <h5 class="policy-title">
        Bảo hành
    </h5>
    
</div>


