
<div class="policy security">
    <h2 class='policy-heading'>Chính sách bảo mật</h2>

    <p>Qana Sneaker luôn tôn trọng tính bảo mật của thông tin khách hàng, chúng tôi cam kết không để lộ thông tin khách hàng cho bất kỳ cá nhân, đơn vị, tổ chức nào</p>

    

    <h5 class="policy-title">
        Lý do lưu trữ thông tin khách hàng
    </h5>
    <p>
        <ol class="s">
            <li>
                    Thuận tiện trong việc xác minh thông tin khách khi đặt hàng
            </li>

            <li>
                    Có thông tin liên hệ để dễ dàng trao đổi , liên lạc những vấn đề liên quan đến đơn hàng
            </li>

            <li>
                    Thông tin địa chỉ để tính chi phí ship, giao hàng đến tận cửa khách hàng
            </li>
        </ol>
          

           
    </p>
     <h5 class="policy-title">
       Cam kết bảo mật thông tin khách hàng
    </h5>
    <p>Qana cam kết mọi thông tin giao dịch của Khách Hàng luôn luôn bảo mật.</p>
    <p>Phạm vi sử dụng: Qana chỉ sử dụng thông tin của khách hàng để tư vấn, cung cấp và giải đáp thắc mắc của chính khách hàng</p>
    <p>Thông tin khách hàng được bảo mật tối đa . Khách hàng có thể yêu cầu shop hủy thông tin cá nhân bằng cách liên hệ SĐT <a class='font-weight-bold' href="tel:0962165084">0962165084</a></p>
    <p>Thông tin liên hệ thắc mắc:</p>
    <p>Gmail: <b><a href="mailto:qananolan.qn76@gmail.com">qananolan.qn76@gmail.com</a></b></p>
    <p>Điện thoại: <b><a href="tel:092165084">092165084</a></b> </p>
    


    
</div>


