
<div class="policy security">
    <h2 class='policy-heading'>Chính sách giao hàng</h2>

    <p>
       Nhằm giải quyết các thắc mắc thường có trong giao hàng chúng tôi đưa ra các chính sách giao - nhận hàng như sau 
    </p>

    

    <h5 class="policy-title">
        Chi phí giao hàng
    </h5>
    <p>
        <ol class="s">
            <li>
                    Giao hàng <b>miễn phí</b> với các đơn hàng trên 1.000.000đ
            </li>

            <li>    
                    Phí giao hàng 35.000đ cho đơn hàng dưới 1.000.000
            </li>
        </ol>
       
    </p>
     <h5 class="policy-title">
      Thời gian giao hàng
    </h5>
    <p>
        Thời gian giao hàng phụ thuộc vào từng khu vực địa lý. Thời gian giao hàng cụ thể sẽ được thông báo sau khi hệ thống xác nhận đặt hàng thành công. Dự kiến:
    </p>
     <p>
        <ol class="s">
            <li>Trong khu vực nội thành Thành phố Hồ Chí Minh : dự kiến 5-7 ngày ( Kể từ lúc xác nhận đơn hàng ở trạng thái sẵn sàng giao hàng)</li>
            <li>Trong khu vực lân cận Thành phố Hồ Chí Minh : dự kiến 6-8 ngày ( Kể từ lúc xác nhận đơn hàng ở trạng thái sẵn sàng giao hàng)</li>
            <li>Trong khu vực các tỉnh thành khác: dự kiến hơn 8 ngày ( kể từ lúc xác nhận đơn hàng ở trạng thái sẵn sàng giao hàng)</li>
            <li>Dịch vụ hiện tại chưa khai triển các khu vực bên ngoài lãnh thổ Việt Nam</li>
            <li>Mọi thông tin chi tiết xin vui lòng liên hệ bộ phận CSKH <a tel="092165084" href="">092165084</a></li>
        </ol>
    </p>
    
    <h5 class="policy-title">
      Quy trình nhận hàng
    </h5>
    <p>
        <ol class="s">
            <li>Nhân viên giao hàng liên hệ với khách hàng</li>
            <li>Khách hàng kiểm tra hàng (quay lại quá trình kiểm tra hàng)</li>
            <li>Khách thử giày (Vui lòng mang đôi tất sạch hàng ngày của bạn và thử giày trên bề mặt sạch sẽ)</li>
            <li>Khách hàng nhận hàng và thanh toán cho shipper</li>
        </ol>
    </p>

    
</div>


