
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  behavior: scroll;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

