.group__filter {
    margin-bottom: 20px;
    &--title {
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        margin-left: 20px;
    }
    & .form-check {
        display:flex;
        align-items: center;
        gap:10px;
    }
    & .form-check-input {
        position: static;
        margin-top: 0;
    }
    & .form-check-label {
        cursor: pointer;
    }
}

.filter {
     &__color {
        ul {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            margin-top: 10px;
        }
        label {
            cursor: pointer;
        }
        input:checked+label {
            border: 5px solid rgba(0,0,0,0.5);
        }
     }
}