.order {
    & .container {
        // background-color:#f1f1f191;
        padding-block :30px;
        border-radius: 10px;
    }
    &__deco{
        height: 3px;
        width: 100%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
    }
    &__container {  
        padding: 28px 30px 24px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
        background: #fff;
        margin-bottom: 10px;
    }
    &__title {
        display:flex;
        align-items: center;
        font-size: 2rem;
        color: #2B3A55;
        margin-bottom: 20px;
        text-transform: capitalize;
        &--icon {
            margin-right:10px;
            font-size: 2rem;
        }
    }
    &__user {
        display: flex;
        gap:10px;
        
        &--address
        {
                margin-left: 20px;
        }   
    }
    & .cart__list {
        border:1px;
        border-bottom: 1px dashed rgba(0,0,0,.2);
    }
    & .modal-header {
        padding: 1rem;
        background-color: #222;

        & .modal-title,span {
            color: #fff;
            span {
                width: 30px;
            }
            
        }
    }
}

.cart {
    &__header--row {
        padding-bottom: 20px;

        div {
            color:#bbb;
        }
    }
    &__body--row {
        padding-bottom: 10px;

        div {
            display: flex;
            align-items: center;
        }
    }
    &__item--main {
        display:flex;
        gap:10px;
        justify-self: flex-start!important;
        img {
            min-width: 60px;
            height: 60px;
        }
        p {
            display:-webkit-box;
            -webkit-line-clamp:2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 50% 20% 10% 10% 10%;
        gap:10px;

        div {
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        &--type {
            display: flex;
            flex-direction: column;
            color:#bbb;
            div {
                display:flex;
                gap:10px;
            }
        }
    }
}

.total__ship--fee {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bold;
    color:$price-text--color;

}


// Tab select order option
.tabs {
    --choicePayObtion--color:black;
    display: flex;
    color: var(--choicePayObtion--color);
    position: relative;
   
  }
  .tab__item {
    padding: 16px 40px 11px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all 0.2s linear;
    position: relative;
    &--checked {
        display:none;
        position:absolute;
        top:0;
        right:0;
        // background-color: var(--choicePayObtion--color);
        border:15px solid $green--color;
        border-bottom-color:transparent;
        border-left-color:transparent;
        transition: all 0.1s linear;

        &-icon {
            position: absolute;
            bottom:0%;
            color:white;


        }
    }
  }
  .tab__item.active {
    color:$green--color;
    border:1px solid $green--color;
    background-color: rgba(53, 194, 53, 0.05);

    & .tab__item--checked {
        display:block;
    }
    
  }
  .tab__item:hover {
    background-color: rgba(53, 194, 53, 0.05);
    border-color: rgba(53, 194, 53, 0.1);
  }
  .tab-icon {
    margin-right: 10px;
  }
  .line {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    background-color: #01904b75;

    border-radius: 5px;
    transition: all 0.1s linear;
    
  }
  .contents {
    margin-top: 20px;
    padding-top: 20px;
    border-top:1px dashed rgba(0,0,0,0.1)
  }
  .tab__content {
    display: none;
    font-size: 1.8rem;
    color: #333;
  }
  .tab__content.active {
    display: block;
  }
  .tab__content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .tab__content p {
    &:first-child {
        margin-top: 20px;
    }
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  
.order__pay {
    &--option {
        padding-bottom: 30px;
        border-bottom:1px dashed $border-color;
    }
    &--summary {
        background: #fffefb;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
        padding-top: 15px;
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        div {
           padding: 10px;
           display: flex;
           align-items: center;
        }
    }
    &--bottom {
        padding-block:20px;
        border-top:1px dashed $border-color;
        display:flex;
        justify-content: space-between;

    }
    
}
.total__product--price ,
.total__feeShip--price,
.total__order--price {
    text-align:right;
    justify-content: flex-end;
}

.total__order--price {
    font-size: 29px;
    font-weight: bold;
    color:$price-text--color;
}

.discount {
    &__number {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }
    &__input {

    }
   
    &__list {
        margin-top: 20px;
        cursor: pointer;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #338dbc;

    }
    &__item {
        position: relative;
        border-radius: 3px;
        background: #fff;
        font-weight: 700;
        color: #338dbc;
        border: 1px solid #338dbc;

        overflow: hidden;
        padding: 5px 10px !important;
        font-size: 1.6rem;
        span {
            line-height: 1.5;
            position: relative;
            margin-bottom: 5px;
        }
        &::before {

            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid #338dbc;
            background: #fff;
            z-index: 1;
            left: -7px;
            top: 50%;
            position: absolute;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid #338dbc;
            background: #fff;
            z-index: 1;
            right: -7px;
            top: 50%;
            position: absolute;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
}

.discount__list.row {
    & .coupon {
        border:1px solid $border-color;
        padding: 10px;
    }
}

#discount {
    &__input {
        padding:5px 10px;
    }
    &__submit {
        padding: 5px 10px;
        background-color:$green--color;
        color:white;
        border-radius: 3px;
    }
}

.kiri  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 40% !important;
    position:relative;
}

.coupon .kanan .info::after, .coupon .kanan .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dedede;
    border-radius: 100%;
}
.coupon .kanan .info::before {
    top: -10px;
    left: -10px;
}

.coupon .kanan .info::after {
    bottom: -10px;
    left: -10px;
}
.coupon .time {
    font-size: 1.6rem;
}

.discoust--show {
    justify-content:flex-end;
    gap:5px;
}
.total-weight {
    color:black;
    font-size: 1.3rem;
}
.originalTotalPrice {
    justify-content: flex-end;
    transform:translateY(23px);
    // font-size: 18px;
}
.order__pay--summary {
    font-size: 1.9rem;
}
@media screen and (max-width: 1279.98px) {
    .cart__row {
        grid-template-columns: 40% 15% 15% 10% 15%;

    }
}
@media screen and (max-width: 1023.98px) {
    
}


@media screen and (max-width: 767.98px) {
    .order__user {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    .order__container {
        padding: 28px 10px 24px;
    }
    .order__pay--summary {
        // display:block
        gap:0px;
    }
    .cart__body {
        .cart__row  {
            grid-template-columns:1fr;
        }
    }
    .cart__header--row {
        display:none;
    }
    .order__user--address {
        margin-left: 0px;
    }
    .tabs {
        flex-direction: column-reverse;
    }
    .tab__item {
        padding: 10px;
        font-size: 1.4rem;
    }
    .tab__content p {
        font-size: 1.4rem;
    }
    .order__pay--discount {
        padding-block: 0px !important;
    }
    .discount__list.row .coupon {
        margin-bottom: 10px !important;
        & .tengah  {
            padding: 0 !important;
            p {
                font-size: 1.4rem;
            }
        }
    }
    .discount__list.row .coupon {
        padding: 5px;
    }
    .discount__list.row > div {
        padding: 0 5px;
    }
    .order__pay--summary--title {
        justify-content:flex-end;
        font-size: 1.4rem;
    }
    .order__pay--summary div {
        padding: 10px;
    }
    .order__pay--bottom {
        flex-direction: column-reverse;
        gap:10px;
         p {
            font-size: 1.2rem;
         }
        span {
            display: flex;
            justify-content: flex-end;
        }
    }
    .discoust--show .discount__number {
        font-size: 1rem;
    }
    .discoust--show {
        flex-direction: column;
    }
    .order__pay--whiteSpace {
        padding: 0 !important;
        width: 0px;
    }
}
