$brand-color: #F0E161;
$background: #fff;
$text-color: #000;
$price-text--color: #CE7777;
$background-sale: #d40000;
$background-red: rgb(255 35 35);
$sale-text-color: #ffffff;
$border-color: #00000033;
$orange--color:#f57224;
$green--color:#01904a;