$brand-color: #F0E161;
$background: #fff;
$text-color: #000;
$price-text--color: #f94c43;
$background-sale: #d40000;
$sale-text-color: #ffffff;
$border-color: rgba(0, 0, 0, 0.1);
$orange--color:#f57224;