<div class='footer'>
  <div class='container'>
      <div class='footer_top'>
        <div class='row'>
          <div class='col-lg-8 col-md-6 col-12'>
            <div class='area_newsletter'>
              <div class='title_newsletter'>
                <i class='fas fa-envelope-open-text'></i>
                <h4>Đăng ký nhận tin</h4>
              </div>
              <div class='form_newsletter'>
                <input placeholder='Nhập email của bạn' type='text' />
                {{> slideBtn title="Đăng ký"}}

              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='area_phone_contact'>
              <p class='number_phone'>
                <i class='fas fa-phone-square'></i>
                <span>Hotline mua hàng online</span>
                            <a href='tel:0383437260' class='hotline__link'>0383437260</a>

              </p>
            </div>
          </div>
        </div>

      </div>
      <div class='footer_support'>
        <div class='row'>
          <div class='col-lg-3 col-md-6'>
                <div class='footer_support-item'>
              <a href="/policy/giao-hang">

                  <div class='support-item_icon'>
                    <i class='fas fa-cog'></i>

                  </div>
                  <h3>GIAO HÀNG MIỄN PHÍ</h3>
                  <p>Cho đơn hàng trên 1.000.000</p>
              </a>
                </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href="/policy/giao-hang">
                  <div class='support-item_icon'>
                    <i class='fas fa-shipping-fast'></i>

                  </div>
                  <h3>Chính sách giao hàng</h3>
                  <p>Giao hàng siêu nhanh</p>
              
              </a>
            </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href="/policy/doi-tra">
                  <div class='support-item_icon'>
                    <i class='fas fa-exchange-alt'></i>

                  </div>
                  <h3>Chính sách đổi trả</h3>
                  <p>Đổi hàng khi đủ điều kiện </p>
              </a>
              </div>
          </div>
          <div class='col-lg-3 col-md-6'>
            <div class='footer_support-item'>
              <a href='tel:0383437260' class=''>
                
                <div class='support-item_icon'>
                  <i class='fas fa-phone-volume'></i>

                </div>
                <h3>Hỗ trợ 24/7</h3>
                <p>            
                    
                    Hotline: 0383437260
                </p>
              </a>

            </div>
          </div>

        </div>

      </div>
      <div class='footer_main'>
        <div class='row'>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>QANA SNEAKER</h3>
              </div>
              <div class='support-item_content'>
                Qana sneaker chuyên các sản phẩm về giày bao gồm nhiều phân khúc từ chính hãng , rep 1:1 , like auth. Shop cung cấp đầy đủ các loại giày từ nhiều thương hiệu lớn như Nike, Adidas, MLB, New Balance ... 
              </div>
            </div>
          </div>

          <div class='col-lg-3 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Thông Tin Liên Hệ</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                  <li class='support-item_content-item'>
                    <i class='fas fa-map-marker-alt'></i>

                    <a href="https://www.google.com/maps/place/Qana+Sneaker/@10.7345793,106.7293823,17z/data=!3m1!4b1!4m6!3m5!1s0x317525f048c97f77:0xd2e93b281d45ae12!8m2!3d10.734574!4d106.7319572!16s%2Fg%2F11v3_5wjc2?hl=vi-VN&entry=ttu">
                            749/45 Huỳnh Tấn Phát, Phú Thuận, Quận 7, Thành phố Hồ Chí Minh, Việt Nam
                    </a>
               
                  </li>
                  <li class='support-item_content-item'>
                    <i class='fas fa-phone-square'></i>

                    <a href="tel:0383437260">0383437260</a>
                    
                  </li>
                  <li class='support-item_content-item'>
                    <i class='fas fa-paper-plane'></i>
                    <a href="mailto:qananolan.qn76@gmail.com">qananolan.qn76@gmail.com</a>
                  </li>
                  <li class='support-item_content-item'></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-lg-2 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Hỗ Trợ</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                  <li class='support-item_content-item'>
                    <a href="/policy/gioi-thieu">Giới thiệu</a>
                  </li>
                 
                  <li class='support-item_content-item'>

                    <a href="/policy/chon-size">Hướng dẫn chọn size</a>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-lg-3 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Chính Sách</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                 
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/thanh-toan">Quy Định & Hình Thức Thanh Toán</a>

                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/doi-tra">Chính Sách Đổi Trả & Bảo Hành</a>
                    
                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/bao-mat">Chính Sách Bảo Mật</a>

                  </li>
                  <li class='support-item_content-item'>
                    
                    <a href="/policy/giao-hang">Chính Sách Giao Hàng</a>

                    
                  </li>
               
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container">

  <button class="scroll-to-top" onclick="ScrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
      <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
    </svg>
  </button>

</div>

