<div class='header'>
  <div class="container">

  <div class='header__top'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-6 col-sm-9 col-9'>
          <div class='header__top-hotline'>
            <a href='tel:0962165084' class='hotline__link'>Hotline: 0962165084</a>
          </div>
        </div>
        <div class='col-lg-6 col-sm-3 col-3'>
          <div class='header__top-systemStore'>
            <a href='#' class='systemStore__link'>Store System</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class='header__main'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12 col-lg-2'>
          <div class='header__logo'>
            <a href='/' class='header__logo-link'>
              <img
                class='header__logo-img hiddenonMobile'
                src='/img/header__logo.png'
                alt='header__logo'
              />
            </a>
          </div>
        </div>
        <div class='col-lg-6 col-sm-12 col-12' style='position:unset'>
          <nav class='header__navigation'>
            <ul class='header__navigation-list'>
              <li class='header__navigation-item nav--level1__brand'>
                <a href='/collections/tat-ca-san-pham' class='header__navigation-link'>Sản phẩm</a>
                <div class=''>
                  <div class='row nav--level2__brand'>
                    <div class='col-md-3 brand__menu'>
                      <ul class='brand-menu__list row'>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Adidas
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            freewater
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Geox
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Eastpak
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Native
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Hbb
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Vionic
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Xox
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Floyssy
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Shucare
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            Holster
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            ARTEMYS
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            JAVI
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            SLEDGERS
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            XTI
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            HEY DUDE
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >
                            NIKE
                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >

                          </a></li>
                        <li class='brand-menu__item col-md-6'><a
                            href='#'
                            class='brand-menu__link'
                          >

                          </a></li>
                      </ul>
                    </div>

                    <div class='col-md-9 brand__imglink'>
                      <div class='row'>
                        <div class='col-md-4'>
                          <a href='#'>
                            <img
                              class='brand-img'
                              src='/img/brand_menu__img/menu_img_1_1.jpg'
                              alt=''
                            />
                          </a>
                        </div>
                        <div class='col-md-4'>
                          <a href='#'>
                            <img
                              class='brand-img'
                              src='/img/brand_menu__img/menu_img_1_2.jpg'
                              alt=''
                            />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </li>
              <li class='header__navigation-item'>
                <a href='/collections/san-pham-moi' class='header__navigation-link'>New</a>
              </li>
              <li class='header__navigation-item'>
                <a href='/collections/san-pham-nam' class='header__navigation-link'>Nam</a>
              </li>
              <li class='header__navigation-item'>
                <a href='/collections/san-pham-nu' class='header__navigation-link'>Nữ</a>
              </li>
              <li class='header__navigation-item'>
                <a href='/collections/unisex' class='header__navigation-link'>Unisex</a>
              </li>
              <li class='header__navigation-item'>
                <a href='/collections/sale' class='header__navigation-link'><span class='text-orange'>Sale</span></a>
              </li>
              
            </ul>
          </nav>
        </div>
        <div class='col-sm-12 col-12 col-lg-4'>
          <div class='header__icon'>
            <ul class='header__icon-list'>
              <li class='header__icon-item icon_search'>
                <a href='#' class='header__icon__link'>
                  <i class='search-icon fas fa-search-minus'></i>
                </a>
                <form  class='form__search' action="/search">
                <input type="hidden" name='type' value='product'>
                  <input
                    type='text'
                    name='text'
                    placeholder='Search'
                    id='search__input'
                  />
                  <button type='submit' id='search__submit'>
                    <i class='search__submit__icon fas fa-search'></i>
                  </button>
                </form>
              </li>


                <li class='header__icon-item icon_cart'>
                    <a href='/cart' class='header__icon__link'>
                      <i class='cart-icon fas fa-shopping-bag'></i>
                    </a>
                </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>


<script>
const doc = document.querySelector.bind(document);
const docs = document.querySelectorAll.bind(document);

const iconSearch = doc(".icon_search");
const formSearch = doc(".form__search");
const sliderImgs = docs(".slider__Img-link img");
const imgsItem = docs(".slider__Img-item");
const container = doc(".container");
const slider = doc(".slider__Img");
const controlDot = docs(".control__dot");

const App = {
  SlideCurrentIndex: 0,
  handleEvent: function () {
    // btn Search
    iconSearch.onclick = function (e) {
      formSearch.classList.toggle("active");
    };

    //  Xóa hiện tượng nổi bọt
    formSearch.onclick = function (e) {
      e.stopPropagation();
    };

    

    

  },
  

  start: function () {
    //   sử lý sự kiện trong DOM
    this.handleEvent();
  },
};
App.start();

</script>