<h5 class="policy-title">
        Chuyển khoản ngân hàng
    </h5>
    <p class='font-weight-bold'>
           Thông tin tài khoản

    <ol class='s'>
        <li>Tên ngân hàng: Ngân hàng TMCP Vietcombank (VCB) - Chi nhánh Đức Phổ</li>
        <li>Chủ tài khoản: Trần Minh Nhân</li>
        <li>Số tài khoản: 0271001082592</li>

        <li>Nội dung chuyển khoản: Mã đơn __Tên người mua </li>
        <li> VD: 641941f3b2aeb427c7e819e3__Trần Minh Nhân</li>
            
    </ol>
    <span class='font-weight-bold'>* Lưu ý:</span>
        <p>Mã đơn vui lòng kiểm ra Gmail, hoặc mục tra cứu sản phẩm</p>   
        <p>
            Sau khi chuyển khoản quý khách chụp hình lại và gửi inbox cho fanpage <a  class='font-weight-bold' href="https://www.facebook.com/profile.php?id=100085568778678">Quana Nolan</a>
        </p>
											
    </p>

