<h5 class="policy-title">
        Chuyển khoản momo
    </h5>
    <p class='font-weight-bold'>
           Thông tin tài khoản

    <ol class='s'>
      
        <li>Chủ tài khoản: Trần Minh Nhân</li>
        <li>Số điện thoại: <a href="tel:0962165084">0962165084</a></li>

        <li>Nội dung chuyển khoản: Mã đơn __Tên người mua -- VD: 641941f3b2aeb427c7e819e3__Trần Minh Nhân</li>
            
    </ol>
     <p class='font-weight-bold'>
           Chuyển MoMo bằng mã QR
    </p>
    

    <img class='payment-qr' src="/img/MomoQr.jpg" alt="">
    <span class='font-weight-bold'>* Lưu ý:</span>
											<p>Mã đơn vui lòng kiểm ra Gmail, hoặc mục tra cứu sản phẩm</p>   
        <p>
            Sau khi chuyển khoản quý khách chụp hình lại và gửi inbox cho fanpage <a  class='font-weight-bold' href="https://www.facebook.com/profile.php?id=100085568778678">Quana Nolan</a>
        </p>
    </p>


   