<div  {{#if haveFilter}}class="col-md-9 col-sm-12 col-xs-12"{{/if}} class='col-md-12 col-sm-12 col-xs-12'>
  <div class='row d-flex align-items-center justify-content-between mb-5'>
    <h1 class='collections__type col-md-12 col-sm-12 col-xs-12'>{{collectionType}}</h1>
    <div class='sortByBtnList--contaiter d-flex align-items-center col-md-12 col-sm-12 col-xs-12'>
      <p class='sort__title'>Sắp xếp theo</p>
      <form action="{{path}}">
        <div class="sortByBtnList">
            <button class="button-87 sortByBtn" role="button" type="submit" value='newest' name='sortBy'>Mới nhất</button>

            <button class="button-87 sortByBtn" role="button" type="submit" value='price-ascending' name='sortBy'>Giá: Thấp tới cao</button>

            <button class="button-87 sortByBtn" role="button" type="submit" value='best-sale' name='sortBy'>Bán chạy nhất</button>


        </div>
          
        
      </form>
    </div>
  </div>
  <div class='product'>
    <ul class='product__list'>
      <div class='row'>
          {{#if haveFilter}}
            {{#each products}}
                      <div class='product__item col-6 col-md-4'>
                        {{> productItem }}
                      </div>
                   
                   
            {{/each}}
             {{else}} 
                {{#each products}}

                    <div class='product__item col-6 col-md-3'>
                        {{> productItem }}
                    </div>
            {{/each}}


            {{/if}} 

      </div>
    </ul>
  </div>
</div>