<div class='btn-container'>
              <button class='btn-container__btn' id='{{class}}' data-target={{dataTarget}} data-toggle={{dataToggle}}>{{title}}</button>
              <div class='btn-container__background'>

              </div>
</div>